{% extends 'base.html' %}
{% block title %}Anonymous Reporting Example{% endblock %}
{% block header %}
<link rel="stylesheet" type="text/css" href="static/css/wharf.css"/>
{% endblock %}

{% block content %}
<h1>What Is This?</h1>
<p>This is a demo site for demonstrating a method for making confidential reports online and for presenting resources to those who need them. This project is open source and is currently hosted on my <a href="http://github.com/etwest/">github</a> so feel free to copy that code if you have any need of it. The goal of this project was to be able to collect reports without having to rely upon a secure server or hosting service. Reports are collected and encrypted on the user's machine (see <a href="/privacy">privacy</a>) and passed through the served still encrypted.</p>

<h3>Authors</h3>
<p>Most of the code was written by Evan West with contributions from Matthew Gray(technical) and Gianna Passalacqua(campus resources).</p>
{% endblock %}
